blinker==1.8.2
Bootstrap-Flask==2.4.0
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==42.0.7
cssselect==1.2.0
cssutils==2.10.2
dnspython==2.6.1
email_validator==2.1.1
Flask==3.0.3
Flask-Markdown==0.3
Flask-ReCaptcha==0.4.2
Flask-WTF==1.2.1
gunicorn==22.0.0
idna==3.7
itsdangerous==1.1.0
Jinja2==3.1.4
lxml==5.2.1
Markdown==3.6
MarkupSafe==2.1.5
packaging==24.0
premailer==3.10.0
pycparser==2.22
pyOpenSSL==24.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.31.0
setuptools==69.5.1
six==1.16.0
urllib3==2.2.1
WebOb==1.8.7
Werkzeug==3.0.3
WTForms==3.1.2
yagmail==0.15.293

