{% extends "template.html" %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  <form method="POST" action="/">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-xs-12 col-md-12">
                {{ form.email.label }} {{ form.email }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                {{ form.vacina.label }} {{ form.vacina }}
                {{ form.latlong }}
            </div>

        </div>
        <div id="map"></div>
        <div class="row">
            <div class="col-xs-3 col-md-3">
<!--                {{ form.recaptcha }}-->
                <input type="submit" value="Enviar" class="btn btn-lg btn-primary">
            </div>
        </div>
    </form>
<script>
        var orig = [{{ origem[0] }}, {{ origem[1] }}];
        var orig_str = '{{ origem[0] }}, {{ origem[1] }}';
        $('#latlong').val(orig_str);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7"></script>
    <script src="{{url_for('static', filename='control/L.Control.Locate.js')}}"></script>
    <script src="{{url_for('static', filename='control/script.js')}}"></script>
    <script src="{{url_for('static', filename='leaflet/leaflet-providers.js')}}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script>
        marker = new L.marker([{{ origem[0] }},{{ origem[1] }}]).addTo(map);
        marker.bindPopup("Me vacinei aqui ").openPopup();
    </script>
{% endblock %}
