#map {
height: 300px;
width: 300px
position: absolute;
width: 100%;
}

.form-control.error {
    border-color: #E74C3C;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}



/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media (orientation: landscape) {
  .container_iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
}

@media (orientation: portrait) {
  .container_iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 140%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
}
