{% extends "template.html" %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="container">

{{ super() }}
{% if tosubmit == True %}
    <br>
    <h3>Pergunte ao infermeiro e ajude seus amigos informando se há doses remanescentes.</h3>
  <form method="POST" action="/">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-xs-12 col-md-12">
                 {{ form.vacina.label }}
                <ul id="vacina">
                {% for subfield in form.vacina %}
                        <li>{{ subfield(required="required") }} {{ subfield.label }}</li>
                {% endfor %}
                    </ul>
                {{ form.latlong }}
            </div>

        </div>

        <div class="row" style="margin-top: 10px">
            <div class="col-xs-12 col-md-12">
                {{ form.email.label }} {{ form.email }}
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-xs-12 col-md-12">
                {{ form.idade.label }} {{ form.idade }}
            </div>
        </div>

        <div class="row" style="margin-top:10px">
            <div class="col-xs-12 col-md-12">
                {{ form.data.label }} {{ form.data }}

            </div>
        </div>
      <div class="row" style="margin-top:10px">
            <div class="col-xs-12 col-md-12">
                {{ form.desperdicio.label }} {{ form.desperdicio(disabled=inappropriate_time) }} {% if inappropriate_time == True%} Após as 18h esta opção fica indisponível.{% endif %}
<!--                form.desperdicio(disabled=inappropriate_time) -->
            </div>
      </div>
      {{ form.latlong.label }}
        <div id="map" style="margin-top:10px"></div>
        <div class="row" style="margin-top: 10px">
            <div class="col-xs-3 col-md-3">
                {% if torecaptcha == True %}
                    {{ form.recaptcha }}
                {% endif %}
                <input type="submit" value="Enviar" class="btn btn-lg btn-primary">
            </div>
        </div>
    </form>
{% else %}
<h2>{{ email }},</h2>
<h4>Muito obrigado por sua contribuição!</h4>
    <div id="map"></div>
{% endif %}
</div>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7"></script>
    <script src="{{url_for('static', filename='control/L.Control.Locate.js')}}"></script>
    <script src="{{url_for('static', filename='leaflet/leaflet-providers.js')}}"></script>
    <script>
    first_location = 0
    var OpenStreetMap_Mapnik = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });
    var map = new L.Map('map', {
        tap: false, // ref https://github.com/Leaflet/Leaflet/issues/7255
        layers: [OpenStreetMap_Mapnik],
        zoom: 10,
        zoomControl: true
    })

    function openpopup(){
        marker.bindPopup("{{ popup_message }}").openPopup();
    }

    function onLocationError(e) {
        console.log(e)
        $.toast({
            type: 'warning',
            title: 'Habilite a localização',
            subtitle: '11 mins ago',
            content: 'Se você não habilitar a localização no seu nagegador, o mapa não aparece.',
            delay: 20000
        });
    }
    map.on('locationerror', onLocationError);

    function onLocationFound(e) {
        if (first_location < 1) {
            marker = new L.marker(e.latlng).addTo(map);
            $('#latlong').val(e.latlng.lat + "," + e.latlng.lng);
            first_location = first_location + 1
            marker.bindPopup("{{ popup_message }}").openPopup();
            setTimeout(function() {
                openpopup(marker);
            }, 500)
        }
    }

    map.on('locationfound', onLocationFound);

    function onMapClick(e) {
        if (marker !== null) {
            map.removeLayer(marker);
        }
        marker = new L.marker([e.latlng.lat,e.latlng.lng]).addTo(map);
        marker.bindPopup("{{ popup_message }}").openPopup();
        $('#latlong').val(e.latlng.lat + "," + e.latlng.lng);
        }

    map.on('click', onMapClick);

    lc = L.control.locate({strings: {title:"Localização"}}).addTo(map);
    {% if origem is defined %}
        var orig = [{{ origem[0] }}, {{ origem[1] }}];
        map.panTo(new L.LatLng({{ origem[0] }}, {{ origem[1] }}));
        marker = new L.marker(orig).addTo(map);
        marker.bindPopup('{{ popup_message }}').openPopup();
    {% else %}
        lc.start();
    {% endif %}
    </script>
{% endblock %}