{% extends "template.html" %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
{% if tosubmit == True %}
  <form method="POST" action="/">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-xs-12 col-md-12">
                 {{ form.vacina.label }}
                <ul id="vacina">
                {% for subfield in form.vacina %}
                        <li>{{ subfield(required="required") }} {{ subfield.label }}</li>
                {% endfor %}
                    </ul>
                {{ form.latlong }}
            </div>

        </div>

        <div class="row" style="margin-top: 10px">
            <div class="col-xs-12 col-md-12">
                {{ form.email.label }} {{ form.email }}
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-xs-12 col-md-12">
                {{ form.idade.label }} {{ form.idade }}
            </div>
        </div>

        <div class="row" style="margin-top:10px">
            <div class="col-xs-12 col-md-12">
                {{ form.data.label }} {{ form.data }}
            </div>
        </div>
        <div id="map" style="margin-top:10px"></div>
        <div class="row" style="margin-top: 10px">
            <div class="col-xs-3 col-md-3">
                {% if torecaptcha == True %}
                    {{ form.recaptcha }}
                {% endif %}
                <input type="submit" value="Enviar" class="btn btn-lg btn-primary">
            </div>
        </div>
    </form>
{% else %}
<h2>{{ email }},</h2>
<h4>Muito obrigado por sua contribuição!</h4>
    <div id="map"></div>
{% endif %}
<script>
        var orig = [{{ origem[0] }}, {{ origem[1] }}];
        var orig_str = '{{ origem[0] }}, {{ origem[1] }}';
        $('#latlong').val(orig_str);
        $("form").submit(function() {
           $(":submit", this).attr("disabled", "disabled");
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7"></script>
    <script src="{{url_for('static', filename='control/L.Control.Locate.js')}}"></script>
    <script src="{{url_for('static', filename='control/script.js')}}"></script>
    <script src="{{url_for('static', filename='leaflet/leaflet-providers.js')}}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script>
<!--        marker = new L.marker([{{ origem[0] }},{{ origem[1] }}]).addTo(map);-->
<!--        marker.bindPopup("{{popup_message}}").openPopup();-->
    </script>
{% endblock %}
