{% extends "template.html" %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
{# Application Flashes with Toasts 3.25.23 #}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      {% include 'toasts.html' %}
  {% endif %}
{% endwith %}
<div class="container">

{{ super() }}
    <br>
    <h3>Siga os passos para informar a sua defesa civil que precisa de resgate devido às chuvas</h3>

    <ul>
          <li>Habilite a localização</li>
          <li>Preencha seus dados</li>
          <li>Certifique-se de que o mapa está mostrando a sua localização</li>
          <li>Clique em Solicitar Resgate</li>
    </ul>
    </br>
  <form id="resgate-form" method="POST" action="/solicitar">
        {{ form.hidden_tag() }}
      <fieldset>
            <legend>Contato</legend>
          <div  class="row">
                    <div class="col-xs-6 col-md-3">
                        <label>O resgate é para você?</label>
                    </div>
                    <div class="col-xs-3 col-md-3">
                        {{ form.resgate_pra_voce }}
                    </div>
                </div>
            <div id="personalInfo" style="display:none;">
                <div  class="row">
                    <div class="col-xs-6 col-md-3">
                        <label>Seu número de telefone: </label>
                    </div>
                    <div class="col-xs-3 col-md-3">
                        {{ form.telefone(class='phone') }}
                    </div>
                </div>
                <div  class="row">
                <div class="col-xs-6 col-md-3">
                    <label>Seu nome: </label>
                </div>
                <div class="col-xs-3 col-md-3">
                    {{ form.nome }}
                </div>
                </div>
            </div>

          <div id="otherInfo" style="display:none;" class="row">
              <div  class="row">
                    <div class="col-xs-6 col-md-3">
                        <label>Número de telefone de quem precisa de resgate: </label>
                    </div>
                    <div class="col-xs-3 col-md-3">
                        {{ form.telefoneoutrapessoa(class='phone') }}
                    </div>
              </div>
                <div  class="row">
                <div class="col-xs-6 col-md-3">
                    <label>Nome de quem precisa de resgate: </label>
                </div>
                <div class="col-xs-3 col-md-3">
                    {{ form.nomeoutrapessoa() }}
                </div>
                </div>
            </div>

        </fieldset>
</br>
        <fieldset>
            <legend>Endereço para Resgate</legend>
            <div  class="row">
                    <div class="col-xs-6 col-md-3">
                        <label>CEP: </label>
                    </div>
                    <div class="col-xs-3 col-md-3">
                        {{ form.cep(class='cep') }}
                    </div>
            </div>

            <div  class="row">
                    <div class="col-xs-6 col-md-3">
                    <label>Rua (logradouro): </label>
                    </div>
                    <div class="col-xs-3 col-md-3">
                        {{ form.endereco }}
                    </div>
            </div>
            <div  class="row">
                    <div class="col-xs-6 col-md-3">
                    <label>Número: </label>
                    </div>
                    <div class="col-xs-3 col-md-3">
                        {{ form.numero }}
                    </div>
            </div>

            <div  class="row">
                    <div class="col-xs-6 col-md-3">
                    <label>Complemento: </label>
                    </div>
                    <div class="col-xs-3 col-md-3">
                        {{ form.complemento }}
                    </div>
            </div>

            <div  class="row">
                    <div class="col-xs-6 col-md-3">
                    <label>Bairro: </label>
                    </div>
                    <div class="col-xs-3 col-md-3">
                        {{ form.bairro }}
                    </div>
            </div>

            <div  class="row">
                    <div class="col-xs-6 col-md-3">
                    <label>Cidade: </label>
                    </div>
                    <div class="col-xs-3 col-md-3">
                        {{ form.complemento }}
                    </div>
            </div>

            <div  class="row">
                    <div class="col-xs-6 col-md-3">
                    <label>Ponto de Referência: </label>
                    </div>
                    <div class="col-xs-3 col-md-3">
                        {{ form.pontoreferencia }}
                    </div>
            </div>

        </fieldset>
</br>
        <fieldset>
            <legend>Dados do Resgate</legend>
            <div  class="row">
                    <div class="col-xs-6 col-md-3">
                     <label>Número total de pessoas: </label>
                    </div>
                    <div class="col-xs-3 col-md-3">
                        {{ form.numpessoas }}
                    </div>
            </div>

            <div>
                <label>Entre as pessoas, alguém desses grupos?</label>
                {{ form.idosos }} Idosos
                {{ form.criancas }} Crianças
                {{ form.pessoacomdeficiencia }} Pessoas com deficiência
            </div>
            <div  class="row">
                    <div class="col-xs-6 col-md-3">
                     <label>Número total de animais: </label>
                    </div>
                    <div class="col-xs-3 col-md-3">
                        {{ form.numanimais }}
                    </div>
            </div>

            <div  class="row">
                    <div class="col-xs-6 col-md-3">
                    <label>Informações relevantes ou complementares para o resgate:</label>
                    </div>
                    <div class="col-xs-8 col-md-6">
                        {{ form.observacoes }}
                    </div>
            </div>
            </br>
            <div  class="row">
                    <label>{{ form.consentimento }}Ao enviar essa solicitação, você concorda com o compartilhamento dos dados informados com as equipes voluntárias e órgãos públicos atuantes nos resgates.</label>
            </div>
        </fieldset>


      {{ form.latlong.label }}
      <div id="map" style="margin-top:10px"></div>
      <div class="row" style="margin-top: 10px">
            <div class="col-xs-4 col-md-5">
                {% if torecaptcha == True %}
                <p>Clique somente se você realmente estiver precisando! Ou pode entrar na frente de alguem que está precisando.</p>
                    <input type="submit" id="informar" name="informar" value="Solicitar Resgate" class="btn btn-lg btn-primary g-recaptcha" data-sitekey="{{site_key}}" data-callback='onSubmit'  data-action='submit' style="margin-bottom:50px">
                {% else %}
                    {{ form.informar(class="btn btn-lg btn-primary") }}
                {% endif %}
            </div>
        </div>
    </form>
    </br>
    </br>
    </br>
    </br>
</div>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7"></script>
    <script src="{{url_for('static', filename='control/L.Control.Locate.js')}}"></script>
    <script src="{{url_for('static', filename='leaflet/leaflet-providers.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
    <script>
        document.getElementById('personalInfo').style.display = 'block'
        function toggleContactInfo(isPersonal) {
    document.getElementById('personalInfo').style.display = isPersonal ? 'block' : 'none';
    document.getElementById('otherInfo').style.display = isPersonal ? 'none' : 'block';
}
        $(document).ready(function(){
            $('.toast').toast('show');
        });


        function setSelectedIndex(s, v) {
           for ( var i = 0; i < s.options.length; i++ ) {
                if ( s.options[i].value == v ) {
                    s.options[i].selected = true;
                    return;
                }
           }
        }
        function fetchAddressInfo() {
            var zipCode = document.getElementById('cep').value;
            if (zipCode) {
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/address', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        if (response) {
                            document.getElementById('endereco').value = response.address || '';
                            var objSelect = document.getElementById('cidade');
                            setSelectedIndex(objSelect, response.city)
                        } else {
                            alert('No address found');
                        }
                    }
                };
                xhr.send(JSON.stringify({zipCode: zipCode}));
            }
        }

        // Use the blur event to trigger address information fetch
        document.getElementById('cep').addEventListener('blur', fetchAddressInfo);
    </script>
  <script>
        $(document).ready(function(){
            $('.phone').inputmask('(99) 99999-9999');
            $('.cep').inputmask('99999-999');
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
    // Get references to the radio buttons
    var radioYes = document.getElementById('resgate_pra_voce-0');
    var radioNo = document.getElementById('resgate_pra_voce-1');

    // Get references to the div elements
    var personalInfoDiv = document.getElementById('personalInfo');
    var otherInfoDiv = document.getElementById('otherInfo');

    // Function to toggle visibility based on radio input
    function toggleVisibility() {
        if (radioYes.checked) {
            personalInfoDiv.style.display = 'block';
            otherInfoDiv.style.display = 'none';
        } else if (radioNo.checked) {
            personalInfoDiv.style.display = 'none';
            otherInfoDiv.style.display = 'block';
        }
    }

    // Add event listeners to the radio buttons
    radioYes.addEventListener('change', toggleVisibility);
    radioNo.addEventListener('change', toggleVisibility);

    // Initialize visibility based on the currently checked radio button
    toggleVisibility();
});
    </script>
    <script>
    first_location = 0
    var OpenStreetMap_Mapnik = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 16,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });
    var map = new L.Map('map', {
        tap: false, // ref https://github.com/Leaflet/Leaflet/issues/7255
        layers: [OpenStreetMap_Mapnik],
        zoom: 10,
        zoomControl: true
    })

    function openpopup(){
        marker.bindPopup("{{ popup_message }}").openPopup();
    }

    function onLocationError(e) {
        console.log(e)
        if (e.message != 'Geolocation error: Position acquisition timed out.')
        {
        $.toast({
            type: 'warning',
            title: 'Habilite a localização',
            subtitle: '',
            content: 'Se você não habilitar a localização no seu nagegador, o mapa não aparece.',
            delay: 20000
        });
        }
    }
    map.on('locationerror', onLocationError);

    function onLocationFound(e) {
        if (first_location < 1) {
            marker = new L.marker(e.latlng).addTo(map);
            $('#latlong').val(e.latlng.lat + "," + e.latlng.lng);
            first_location = first_location + 1
            marker.bindPopup("{{ popup_message }}").openPopup();
            setTimeout(function() {
                openpopup(marker);
            }, 500)
        }
    }

    map.on('locationfound', onLocationFound);

    function onMapClick(e) {
        if (marker !== null) {
            map.removeLayer(marker);
        }
        marker = new L.marker([e.latlng.lat,e.latlng.lng]).addTo(map);
        marker.bindPopup("{{ popup_message }}").openPopup();
        $('#latlong').val(e.latlng.lat + "," + e.latlng.lng);
        }

    map.on('click', onMapClick);

    lc = L.control.locate({strings: {title:"Localização"}}).addTo(map);
    {% if origem is defined %}
        var orig = [{{ origem[0] }}, {{ origem[1] }}];
        map.panTo(new L.LatLng({{ origem[0] }}, {{ origem[1] }}));
        marker = new L.marker(orig).addTo(map);
        marker.bindPopup('{{ popup_message }}').openPopup();
    {% else %}
        lc.start();
    {% endif %}
    </script>
{% endblock %}
