{% extends "template.html" %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="container">

{{ super() }}
    <div class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <img src="..." class="rounded mr-2" alt="...">
    <strong class="mr-auto">Bootstrap</strong>
    <small>11 mins ago</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    Hello, world! This is a toast message.
  </div>
</div>

    {% if tosubmit == True %}
    <br>
    <h3>Seja notificado sobre a disponibilidade de vacinas na sua região.</h3>
  <form method="POST" action="/notificacao">
        {{ form.hidden_tag() }}
        <div class="row" style="margin-top: 10px">
            <div class="col-xs-12 col-md-12">
                {{ form.vacina.label }} {{ form.vacina }}
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-xs-12 col-md-12">
                {{ form.email.label }} {{ form.email }}
                {{ form.latlong }}
            </div>
        </div>
      {{ form.latlong.label }}
        <div id="alertmap"></div>
        <div class="row" style="margin-top: 10px">
            <div class="col-xs-3 col-md-3">
                {% if torecaptcha == True %}
                    {{ form.recaptcha }}
                {% endif %}
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-xs-4 col-md-4">
                {{ form.registrar(class="btn btn-lg btn-primary") }}
            </div>
            <div class="col-xs-3 col-md-3">
                {{ form.descadastrar(class="btn btn-lg btn-primary") }}
            </div>
        </div>
    </form>
{% else %}
<h2>{{ email }},</h2>
<h3>Sua área de interesse foi registrada. </h3>
<h4>Você receberá emails de notificação em caso de vacinas remanescentes!</h4>
<div id="alertmap"  style="margin-top: 10px"></div>
<form method="POST" action="/notificacao">
    {{ form.hidden_tag() }}
    <div class="row" style="margin-top: 10px">
        <div class="col-xs-12 col-md-12">
             <input type="submit" value="Remover Notificação" class="btn btn-lg btn-primary" value="delete" >
        </div>
    </div>
</form>
{% endif %}
</div>
{% endblock %}


{% block scripts %}
    {{super()}}
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7"></script>
    <script src="{{url_for('static', filename='control/L.Control.Locate.js')}}"></script>
    <script src="{{url_for('static', filename='leaflet/leaflet-providers.js')}}"></script>
    <script>
    $.toastDefaults = {
        position: 'top-right', /** top-left/top-right/top-center/bottom-left/bottom-right/bottom-center - Where the toast will show up **/
        dismissible: true, /** true/false - If you want to show the button to dismiss the toast manually **/
        stackable: true, /** true/false - If you want the toasts to be stackable **/
        pauseDelayOnHover: true, /** true/false - If you want to pause the delay of toast when hovering over the toast **/
        style: {
            toast: '', /** Classes you want to apply separated my a space to each created toast element (.toast) **/
            info: '', /** Classes you want to apply separated my a space to modify the "info" type style  **/
            success: '', /** Classes you want to apply separated my a space to modify the "success" type style  **/
            warning: '', /** Classes you want to apply separated my a space to modify the "warning" type style  **/
            error: '', /** Classes you want to apply separated my a space to modify the "error" type style  **/
        }
    };
    first_location = 0
    var OpenStreetMap_Mapnik = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });
    orig = [-15.7801,-47.9292]
    var alertmap = new L.Map('alertmap', {
        tap: false, // ref https://github.com/Leaflet/Leaflet/issues/7255
        layers: [OpenStreetMap_Mapnik],
        center: orig,
        zoom: 11,
        zoomControl: true
    })

    function onLocationFound(e) {
        if (first_location < 1) {
            var bounds = [[e.latlng.lat-0.08,e.latlng.lng-0.08], [e.latlng.lat+0.08,e.latlng.lng+0.08]];
            rect = new L.rectangle(bounds, {color: 'blue', weight: 1}).addTo(alertmap);
            first_location = first_location + 1
            $('#latlong').val(e.latlng.lat + "," + e.latlng.lng);
        }
    }

    function onLocationError(e) {
        console.log(e)
        $.toast({
            type: 'warning',
            title: 'Habilite a localização',
            subtitle: '11 mins ago',
            content: 'Se você não habilitar a localização no seu nagegador, o mapa não aparece.',
            delay: 20000
        });
    }
    alertmap.on('locationerror', onLocationError);

    alertmap.on('locationfound', onLocationFound);



    function onMapClick(e) {
        if (rect !== null) {
            alertmap.removeLayer(rect);
        }
        var bounds = [[e.latlng.lat-0.08,e.latlng.lng-0.08], [e.latlng.lat+0.08,e.latlng.lng+0.08]];
        rect = new L.rectangle(bounds, {color: 'blue', weight: 1}).addTo(alertmap);
        $('#latlong').val(e.latlng.lat + "," + e.latlng.lng);
    }

    alertmap.on('click', onMapClick);

    lc = L.control.locate({strings: {title:"Localização"}, keepCurrentZoomLevel: true}).addTo(alertmap);
    {% if origem is defined %}
        var orig = [{{ origem[0] }}, {{ origem[1] }}];
        alertmap.panTo(new L.LatLng({{ origem[0] }}, {{ origem[1] }}));
        var bounds = [[orig[0]-0.08,orig[1]-0.08], [orig[0]+0.08,orig[1]+0.08]];
        rect = new L.rectangle(bounds, {color: 'blue', weight: 1}).addTo(alertmap);
    {% else %}
        lc.start();
    {% endif %}
    </script>
    <script>
    $(document).ready(function() {
    if (!$("#vacina-0").is(":checked") ){
        $("#vacina-0").trigger("click");
    }
    if (!$("#vacina-1").is(":checked") ){
        $("#vacina-1").trigger("click");
    }
    if (!$("#vacina-2").is(":checked") ){
        $("#vacina-2").trigger("click");
    }
    if (!$("#vacina-3").is(":checked") ){
        $("#vacina-3").trigger("click");
    }
    });
    </script>
{% endblock %}